<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.auth.server.mapper.UserMapper">
    <select id="getUserByUserName" resultType="com.cloud.auth.server.entity.UserEntity">
        select * from cloud_user where username = #{username}
    </select>
    <select id="getUser" resultType="com.cloud.auth.server.entity.UserEntity">
        select * from cloud_user
    </select>
</mapper>
